POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_READONLY=
POSTGRES_READONLY_PASSWORD=
POSTGRES_DB=
POSTGRES_DB_TEST=
DATABASE_TABLES_DIR=
basedir=
SECRET_KEY=
DATABASE_URL_LOCAL=
DATABASE_URL_TEST=
DATABASE_URL=
DATABASE_URL_READONLY=
# local, dev, prod, test
ENV="dev"
JWT_SECRET_KEY=
# Hours before tokens expire
JWT_ACCESS_TOKEN_EXPIRES=
UN_STAFF_USERNAME=
UN_STAFF_PASSWORD=
ACLED_KEY=
ACLED_EMAIL=
repo_dir="/home/user/git/OxfordDemSci/UkraineNowPop"
in_dir="/home/user/git/OxfordDemSci/UkraineNowPop/wd/in"
out_dir="/home/user/git/OxfordDemSci/UkraineNowPop/wd/out"
sma_API_token= ""
smaDB_host = '18.135.72.18'
smaDB_port = 5432
smaDB_dbname = 'social_media_audience'
smaDB_user=''
smaDB_password=''
